<h1>Nova turma</h1>
<%= form_for @classroom do |form| %>
  <% if @classroom.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@classroom.errors.count, "erros") %> encontrados:</h2>  
      <ul>
        <% @classroom.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>  
      </ul>  
    </div>  
  <% end %>
  <p><%= form.label :room %></p>
  <p><%= form.text_field :room %></p>
  <p><%= form.label :capacity %></p>
  <p><%= form.text_field :capacity %></p>
  <p><%= form.label :instructor_id %></p>
  <p><%= form.select :instructor_id, Instructor.all.map{|i| [i.name, i.id]}, :include_blank => true %></p>
  <p><%= form.submit %></p>
<% end %>
